<div class="report-form">
  <form [formGroup]="fGroup">
    <mat-form-field class="report-input">
      <input matInput placeholder="Имя" formControlName="name">
    </mat-form-field>
    <mat-form-field class="report-input">
      <input matInput placeholder="Фамилия" formControlName="familyName">
    </mat-form-field>
    <mat-form-field class="report-input">
      <input type="email" matInput placeholder="Email" formControlName="email">
    </mat-form-field>
    <mat-form-field class="report-input">
      <input type="tel" matInput placeholder="Телефон" formControlName="phone">
    </mat-form-field>
    <br>
    <!--<div class="g-recaptcha" data-sitekey="6LctOkEUAAAAAK587K8Q7_S-863vvE7NEitNKhDO"></div> //-->
    <button mat-raised-button color="primary" (click)="onSubmit(fGroup.value)" [disabled]="!fGroup.valid">ЗАКАЗАТЬ</button>
  </form>
</div>

